@media only screen and (max-width: 768px) {
    img {
        width: 50%;
        height: 50%;
        object-fit: cover;
    }
}

@media only screen and (min-width:769px) {
    img {
        width: 25%;
        height: 25%;
        object-fit: cover;
    }

    .imgCont {
        width: 80%;
        height: 80%;
    }
}

:root {
    --color-fondo-claro: #ffffff;
    --color-texto-claro: #000000;
    --color-fondo-oscuro: #000000;
    --color-texto-oscuro: #ffffff;
  }
  
  body.tema-claro {
    --color-fondo: var(--color-fondo-claro);
    --color-texto: var(--color-texto-claro);
  }
  
  body.tema-oscuro {
    --color-fondo: var(--color-fondo-oscuro);
    --color-texto: var(--color-texto-oscuro);
  }
  
  body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
  }
  body.tema-oscuro .dropdown-menu {
    background-color: var(--color-fondo-oscuro);
  }
  
  body.tema-oscuro .nav-link,
  body.tema-oscuro .dropdown-item {
    color: var(--color-texto-oscuro);
  }
  
  .dropdown-item:hover {
    background-color: transparent;
    color: inherit;
  }